<html>
	<head>
		<meta charset='UTF-8' />
		<title>Informacje o użytkowniku</title>
	</head>
	<body>
		<h1>Dane przechwycone z formularza:</h1>
		<p>Nazwisko: <b>{{nazwisko}}</b></p>
		<p>Email: <b>{{email}}</b></p>
		<p>Wiek: <b>{{wiek}}</b></p>
		<p>Inicjały: <b>{{inicjaly}}</b></p>
	</body>
</html>